.parent {
	-fx-background-color: #e9e7e8; 
	
}
.sidebar {
	-fx-background-color: #333645;
}

.btns {
	-fx-background-color:  #e9e7e8;
}

.btns:hover {
	-fx-background-color: #e9e7e8;
}

.box {
	-fx-border-color : #7C8184 ; 
	-fx-border-width : 1px 0px 0px 0px; 
}